<mat-card class="card" [ngClass]="{important: todo.important}">
    <mat-card-header>
        <mat-card-title>{{ todo.title }}</mat-card-title>
        <mat-card-subtitle>{{ todo.date }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
        <button mat-stroked-button color="warn" *ngIf="!todo.important">Mark Important</button>
        <button mat-stroked-button color="warn" *ngIf="todo.important">Mark Not Important</button>
        <button mat-stroked-button color="primary">Done</button>
    </mat-card-actions>
</mat-card>

